@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  color: #fff;
  background-color: #282a2d;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

*,
:after,
:before {
  color: inherit;
  font-family: Catamaran, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #4a4d52;
  border: 2px solid #282a2d;
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
